:root{
  --bg-color: #cccccc;
  --bg-center: #c5c5c5;
  --bg-border: #bbbbbb;
  --bg-input: #e3e3e3;

  --bg-btn: #d5d5d5;
}

#center{text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:var(--bg-center);border:7px var(--bg-border) solid;border-radius:22px;display:inline-block;}
#incenter{border:7px var(--bg-center) solid;border-radius:22px;padding:5px;}
#secret{text-align:right;position:absolute;top:100%;left:100%;transform:translate(-100%, -100%);}

.btn{color:#000000;background-color:var(--bg-btn);border:7px var(--bg-btn) solid;border-radius:10px;padding:5px;}

body{background-color:var(--bg-color);margin:20px;}
input{background-color:var(--bg-input)}
