:root{
  --bg-color: #cccccc;
  --bg-center: #c5c5c5;
  --bg-border: #bbbbbb;
  --bg-input: #e3e3e3;
}

#center{text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:var(--bg-center);border:7px var(--bg-border) solid;border-radius:22px;display:inline-block;}
#incenter{border:7px var(--bg-center) solid;border-radius:22px;}
#secret{text-align:right;position:absolute;top:100%;left:100%;transform:translate(-100%, -100%);}

body{background-color:var(--bg-color);margin:20px;}
input{background-color:var(--bg-input)}
