#ooob{margin:0;padding:0;background-color:#ccc;};
#oood{text-align:center;position:absolute;top:45%;left:50%;transform:translate(-50%,-50%);};
.oooh{background-color:#fff;border-color:#fff;border-width:7px;border-style:solid;border-radius:22px;display:inline-block;};
